[Unit]
Description=Mindfulness Bell Daemon
Documentation=https://github.com/stoa-ops/mbell
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mbell start
ExecStop=/usr/bin/mbell stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
